@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");
* {
  margin: 0;
  padding: 0;
}

html, body {
  word-break: break-all;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

button {
  border-radius: 5px;
  vertical-align: middle;
  cursor: pointer;
  border: none;
}

svg {
  vertical-align: middle;
  margin-top: -4px;
}

.back_red {
  background: FireBrick;
}

.back_gray {
  background: #282C30;
}

.back_black {
  background: #ADB5BD;
}

html, body {
  font-family: 'Nanum Pen Script', cursive;
  font-size: 18px;
}

hr {
  border: 1px solid #E1E4E7;
  margin-top: 15px;
  margin-bottom: 15px;
}

.axent {
  font-size: 1.5em;
}

.close_btn {
  width: 20px;
  height: 20px;
  background-color: #E1E4E7;
  border-radius: 100%;
  display: inline-block;
  text-align: center;
  line-height: 20px;
  color: #282C30;
}

.btn {
  cursor: pointer;
}

header {
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #eee;
  font-size: 2rem;
  line-height: 100px;
  padding: 0 5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header button {
  width: auto;
  height: 50px;
  padding: 0 5px;
  vertical-align: middle;
  outline: 1px solid #E1E4E7;
}

.body_box {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.25rem;
  padding-top: 70px;
}

.body_box > div {
  width: 40%;
}

.body_box .pic_box {
  padding-left: 5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.body_box .pic_box div img {
  height: 100%;
  outline: 1px solid #E1E4E7;
  border-radius: 10px;
}

.body_box .pic_box .main {
  width: 80%;
  height: 450px;
}

.body_box .pic_box .sub {
  width: 100%;
  height: 80px;
}

.body_box .pic_box .sub img {
  padding: 0 5px;
  cursor: pointer;
}

.body_box .pic_box .sub img:first-child {
  padding: 0 0;
}

.body_box .ex_box {
  padding: 0 2.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.body_box .ex_box .info_box {
  font-size: 1rem;
}

.body_box .ex_box .info_box .axent {
  color: #00C854;
  font-size: 1.25rem;
  font-weight: bold;
}

.body_box .ex_box .color_change_button_box .btn_color_change {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  outline: 1px solid #E1E4E7;
  margin-left: 15px;
}

.body_box .select_box {
  width: 20%;
  border: 1px solid #E1E4E7;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.body_box .select_box select {
  width: 100%;
  height: 50px;
  border: 1px solid #E1E4E7;
}

.body_box .select_box select option {
  height: 50px;
}

.body_box .select_box .result_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.body_box .select_box .result_box p {
  color: red;
  line-height: 30px;
}

.body_box .select_box .list_item {
  position: relative;
  border-bottom: 1px solid #E1E4E7;
  padding-top: 15px;
  padding-bottom: 15px;
}

.body_box .select_box .list_item .close_btn {
  position: absolute;
  right: 0px;
  top: 20px;
}

.body_box .select_box .list_item .count_box {
  margin-top: 5px;
}

.body_box .select_box .list_item .count_box span {
  outline: 1px solid #E1E4E7;
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
  line-height: 30px;
}
/*# sourceMappingURL=style.css.map */