@import "reset","mixin","data";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
html,body{
  font-family: 'Nanum Pen Script', cursive;
  font-size: 18px;

}
hr{

  border: 1px solid $color_light_gray;
  margin: {
    top:15px;
    bottom: 15px;
  };
}
// 기타
.axent{font-size: 1.5em}

// button
.close_btn{
  @include size(20px,20px);
  background-color: $color_light_gray;
  border-radius: 100%;
  display: inline-block;
  text-align: center;
  line-height: 20px;
  color:$color_black;
}
.btn{cursor: pointer;}
//button 끝
header{
  @include size(100%,100px);
  border-bottom: 1px solid #eee;
  font-size: 2rem;
  line-height: 100px;
  padding: 0 5%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  button{
    @include size(auto,50px);
    padding: 0 5px;
    vertical-align: middle;
    outline: 1px solid $color_light_gray;
  }
}
.body_box{

  width: 80%;
  display: flex;
  font-size: 1.25rem;
  padding-top: 70px;
  &>div{
    width:40%;
  }
  .pic_box{
    padding-left: 5%;
    box-sizing: border-box;
    div{
      img{
        height: 100%;
        outline: 1px solid $color_light_gray;
        border-radius: 10px;
      }
    }
    .main{
      @include size(80%,450px);

    }
    .sub{
      @include size(100%,80px);

      img{
        padding: 0 5px;
        cursor: pointer;
        &:first-child{
          padding: 0 0;
        }
      }
    }
  }
.ex_box{
  padding: 0 2.5%;
  box-sizing: border-box;
//  안내 박스
  .info_box{
    font-size: 1rem;
    .axent{
      color:$main_color;
      font:{
        size: 1.25rem;
        weight: bold;
      }

    }
  }
//  색깔 변경 버튼
.color_change_button_box{
  .btn_color_change{
    @include size(50px,50px);
    border-radius: 100%;
    outline: 1px solid $color_light_gray;
    margin-left: 15px;
  }
  ul {
    display: flex;
    margin-top: 15px;
    li{
      cursor: pointer;
    }
  }
}
}

  .select_box{
    width:20%;
    border:1px solid $color_light_gray;
    padding: 15px;
    box-sizing: border-box;
    // background: #282C30;
    select{
      @include size(100%,50px);
      border:1px solid $color_light_gray;
      option{
        height: 50px;
      }
    }
    .result_box{
      display: flex;
      justify-content: space-between;
      p{
        color: red;
        line-height: 30px;

      }
    }
    //리스트 내부 아이템
    .list_item{
        position: relative;
        border:{
          bottom: 1px solid $color_light_gray;
     

        }
        .close_btn{
            position: absolute;
            right:0px;
            top: 20px;
        }
        padding:{
          top:15px;
          bottom:15px;
        }
        .count_box{
            margin-top: 5px;
          span{
            outline: 1px solid $color_light_gray;
            @include size(30px,30px);
            display: inline-block;
            text-align: center;
            line-height: 30px;
          }
        }

    }

    .button_box{
      @include size(100%,60px);
      margin-top:15px;
      button{
        @include size(100%,100%);
      }
    }
  }
}
