@import "reset","mixin","data";

//color
.back_light_gray{
  background: $color_light_gray;
}
.color_main{
  color:$main_color!important;
}
.color_light_gray{
  color:$color_light_gray!important;
}
.color_gray{
  color:$color_gray!important;
}
input:focus{
  outline: 1px solid $main_color;
}
//button
.btn{
  &_edit{
    border:1px solid #eee;
    padding-top:5px;
    box-sizing: border-box;

    span{
      font-size: 0.85rem;
    }
  }

}

//nav
.nav_box{
  @include size(100%,200px);
  line-height: 200px;

  h1{
    font-size: 5rem;
    text-align: center;
  }
}


//edit_bar
.edit_bar_box{
  position: relative;
  height: 100px;
  padding-top: 40px;
  box-sizing: border-box;
  .edit_bar{
    position: absolute;
    left: 15%;
    margin:{
      left: 0;
      top:0;
    }
    display: flex;
  span{
    line-height: 40px;
    margin-left: 5px;
  }
    li{
      margin-right: 15px;
    }
  }
  .search_bar{
    position: absolute;
    right: 15%;
    input{
      @include size(280px,50px);
      border: 1px solid $color_light_gray;
      border-radius: 3px;
      padding:5px;
      box-sizing: border-box;
    }
  }
}



//homebox

.home_content{

  display: flex;
  justify-content: center;
  &> article{
      width: 70%;
    }

}


//사각형 모양 리스트
.list_box_square{
  display: flex;
  flex-wrap: wrap;
}


//메모장 스타일
.memo_box{
  @include size(316px,auto);
  box-sizing: border-box;
  background: rgba(255,255,255,0.6);
  padding:1.5% 20px;
  padding-bottom:30px;
  margin:{
    right:17px;
    top:15px;
  }
  border-radius: 5px;
  border:1px solid #eee;
  input[type='checkbox']{
    border: 1px solid $color_gray;
   box-shadow: 2px 2px 2px $main_color;
  &:checked{
    //background: r;
  }
  }


  .content_txt{
    width:100%;
  }
  .title_box{
    display: flex;
    justify-content: space-between;
    p{
      color:$color_light_gray;
      cursor: pointer;
    }
  }
  &>div{
    &:last-child{
      margin-top:30px;
      text-align: right;
    }
  }

}


















































































































































































































































































































































































































































